<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/app.css">
    </head>

<body>
    <h1>Edit Recipes Page</h1>
    <form action="/recipes/<%=recipe.id%>?_method=PUT" method="POST">
        <!--  NOTE: the form is pre-populated with values for the server-->
        Title: <input type="text" name="title" value="<%=recipe.title%>" /><br />
        Description: <input type="text" name="description" value="<%=recipe.description%>" /><br />
        Category: <input type="text" name="categfory" value="<%=recipe.category%>" /><br />
        Owner: <input type="text" name="owner" value="<%=recipe.owner%>" /><br />
        Ingredients: <input type="text" name="ingredients" value="<%=recipe.ingredients%>" /><br />
        Instructions: <input type="text" name="instructions" value="<%=recipe.instructions%>" /><br />

              
        <br />
        <input type="submit" name="" value="Submit Changes" />
        
    </form>


</body>

</html>