<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe App</title>
    <link rel="stylesheet" href="/app.css" />
</head>

<body>
    <h1> View Recipe </h1>
    
     <%= recipe.title %>  
    <p><%= recipe.category %></p>
    <p><%= recipe.owner %></p>
     <p><%= recipe.description %></p> 
     <p class="ing" ><%= recipe.ingredients %></p>
     <p class="inst" > <%= recipe.instructions %> </p>

    <form action="/recipes/<%=recipe.id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE <%= recipe.title %>" />
    </form>
</body>

</html>